@{
    ViewBag.Title = "About Lincoln Dev Studio";
}
<h2>@ViewBag.Title</h2>

<p>The goal of this system is to more easily
connect local community groups who may have software needs to software
engineering, computer engineering, or computer science students who are looking for
projects to work on to develop their software engineering skills. The overarching aim
of this system is to have a mutually beneficial impact on both the students developing
the software tool and the local community groups by providing meaningful projects
to students with real world stakeholders which will ideally hold the students more
accountable. As a result, this added accountability may help them better develop their
skills and deliver a better end-product to the community groups.</p>
