@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Please contact us with any questions or concerns that you may have.</h3>

<address>
    Colton Harper</br>
    charper24@unl.edu</br>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:charper24@unl.edu">charper24@unl.edu</a><br />
    <a href="csea.unl.edu">csea.unl.edu</a>
</address>